<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.0" targetFramework="net452" />
  <package id="JsonApiFramework.Core" version="2.0.7" targetFramework="net452" />
  <package id="JsonApiFramework.Core.Tests.TestSupport" version="2.0.1" targetFramework="net452" />
  <package id="JsonApiFramework.XUnit" version="2.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="xunit" version="2.2.0-rc2-build3523" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.assert" version="2.2.0-rc2-build3523" targetFramework="net452" />
  <package id="xunit.core" version="2.2.0-rc2-build3523" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.2.0-rc2-build3523" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.2.0-rc2-build3523" targetFramework="net452" />
</packages>